{{ content }}

# Welcome to my blog !

My name is François Desaulle, I am a 22 years old French graduate from the University of Warwick in the UK. 

I am currently finishing a 3 months course in Data Science and AI, and as such, I have decided to create this blog to share some of my Data Science projects, I hope you'll find it interesting ! 

Outside of Data Science, some of my interests are:

- Traveling: I have been lucky to travel to amazing places over the past years such as Australia, South Africa, Cuba, the Dominican Republic, and Egypt just to name a few...  
I recently spent a year in Hong Kong where I studied for a semester before getting an intership in digital marketing at Pernod Ricard Asia. I used this time in Hong Kong to travel in South East Asia. I visited Bali, went multiple times to China, traveled through Cambodia for a week on my own, visited Seoul and ended up exploring the East Australian Coast for a month in July 2019.

- Sports: I have been playing football since I was 5, I played for my neighborhood team in my teenage years and made into Warwick's University Football Team during my studies. I also practice Fitness/Crossfit, play tennis and practiced Judo from 6 to 16 years old. I am a scuba diving fanatic, I got my scuba diving license when I was 11 years old and still dive today, I used my time in Australia to dive a couple of times on the Great Barrier Reef and also did an amazing dive with Grey Nurse Shark near Byron Bay. An experience that I would recommend to anyone. 

- Cooking: I love good food and thus love to cook as well. This is a passion that my parents transmitted to me when I was a kid. I am currently thinking about posting some recipes that I make, either on this blog or maybe on Instagram or Youtube. I'll keep you posted on that !


I have a BA in Liberal Arts from the University of Warwick, from which I graduated this summer (2020). Unfortunately, I did not get a proper celebration because of covid...
Liberal Arts can seem to be a strange course for people that are not familiar with it. Some people have asked me in the past if I studied painting, filming, or some other art form, but actually, liberal arts studies give you the opportunity to explore and learn what matters to you. 
You draw knowledge and methods from across humanities, social, and natural sciences to address complex problems. The aim of a liberal arts education is to produce well-rounded individuals with a breadth of knowledge, a sophisticated understanding of the most important questions that face society, and a mastery of transferable skills.
One of the modules that struck me the most was 'Science, Society and the Media' which explored how scientific knowledge is produced and how it is transmitted to the public, but also to what extent political, financial, philosophical, and linguistic frameworks transform that knowledge. It was extremely interesting and so were the case studies covered such as the BSE crisis in the UK or the use of drones in the military... 

As I said earlier, I did a 6 months internship at Pernod Ricard Asia in digital marketing. I was in charge of different projects such as a marketing campaign for Chivas Singapore to promote a new way to consume their whiskies, I conducted an audit of the brands' digital presence and activity to make sure that all markets were up to the company's objectives, and I also worked with a consultant agency to improve the CRM strategy. All of these missions got me working with data, which woke up an interest that I had developped in highschool. Indeed, for the French Baccalaureate, students have to choose a topic to study and present their research and findings to a jury. I chose, with two of my friends to study Big Data and it's importance in today's society. The whole process was highly interesting and stimulating, we even got to interview an IBM specialist for our research. I learned a lot during the project but never really pursued anything related to data afterwards. 
However, during my internship I realised that some of the work that I was doing, especially the audit of the brand's online presence could have been highly facilitated by knowing how to code and scrap websites as a major part of my mission and the most time consuming one, was to collect data on each brand. This frustrated me and therefore when the pandemic broke out and hit the job market I decided to use this time as an opportunity to improve my skills and learn Python programming. 




### Markdown

Markdown is a lightweight and easy-to-use syntax for styling your writing. It includes conventions for

```markdown
Syntax highlighted code block

# Header 1
## Header 2
### Header 3

- Bulleted
- List

1. Numbered
2. List

**Bold** and _Italic_ and `Code` text

[Link](url) and ![Image](src)
```

For more details see [GitHub Flavored Markdown](https://guides.github.com/features/mastering-markdown/).

### Jekyll Themes

Your Pages site will use the layout and styles from the Jekyll theme you have selected in your [repository settings](https://github.com/FDesaulle/fdesaulle.github.io/settings). The name of this theme is saved in the Jekyll `_config.yml` configuration file.

### Support or Contact

Having trouble with Pages? Check out our [documentation](https://docs.github.com/categories/github-pages-basics/) or [contact support](https://github.com/contact) and we’ll help you sort it out.
